[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dpseg"]
	path = dpseg
	url = https://gitlab.com/raim/dpseg
[submodule "segmenTier"]
	path = segmenTier
	url = https://github.com/raim/segmentier
	subdir = pkg
